In [2]:
import numpy as np
import pandas as pd

In [3]:
# give the list of orange cap holders
# orange cap holders -> one who has scored max. runs in one season
# season batsman_name
# 2008    ....

In [4]:
delivery = pd.read_csv('deliveries.csv')

In [5]:
match = pd.read_csv('matches.csv')

In [6]:
new = delivery.merge(match,left_on='match_id',right_on='id')

In [7]:
# when using merge b/w dataframes we need a relation b/w them
# such as 'id' column in match and 'match_id' column in delivery denotes
# the same

In [8]:
# reset_index() -> converts a multi-index series into dataframe

In [9]:
type(new.groupby(['season','batsman'])['batsman_runs'].sum().sort_values(ascending=False))

pandas.core.series.Series

In [10]:
data = new.groupby(['season','batsman'])['batsman_runs'].sum().sort_values(ascending=False).reset_index()

In [11]:
data

      season      batsman  batsman_runs
0       2016      V Kohli           973
1       2016    DA Warner           848
2       2013   MEK Hussey           733
3       2012     CH Gayle           733
4       2013     CH Gayle           720
...      ...          ...           ...
1526    2017     MM Patel             0
1527    2012  AC Blizzard             0
1528    2011     AB Dinda             0
1529    2017      AD Nath             0
1530    2008     L Balaji             0

[1531 rows x 3 columns]

In [12]:
type(data)

pandas.core.frame.DataFrame

In [28]:
data.drop_duplicates(subset=['season'],keep='first').sort_values('season')[['season','batsman']]

    season       batsman
10    2008      SE Marsh
14    2009     ML Hayden
9     2010  SR Tendulkar
11    2011      CH Gayle
3     2012      CH Gayle
2     2013    MEK Hussey
6     2014    RV Uthappa
17    2015     DA Warner
0     2016       V Kohli
7     2017     DA Warner