In [3]:
import numpy as np
import pandas as pd

In [4]:
data = pd.read_csv('adult.data.csv')

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  salary          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [6]:
data['salary'].value_counts()

<=50K    24720
>50K      7841
Name: salary, dtype: int64

In [7]:
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [52]:
# Number of people of each race represented in this dataset
race = data['race'].value_counts()

In [53]:
race

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

In [46]:
# average age of men
men_avg_age = data.groupby('sex').get_group('Male').mean().values[0]
men_avg_age

39.43354749885268

In [47]:
#percentage of people who have a Bachelor's degree
mask = data['education'] == 'Bachelors'
total = data['education'].count()
nbach = data[mask]['education'].count()
per_bach = (nbach/total)*100
per_bach

16.44605509658794

In [8]:
# percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) 
# make more than 50K
mask_lst = ['Bachelors', 'Masters', 'Doctorate']
mask1 = data['education'].isin(mask_lst)
mask2 = data['salary'] == '>50K'
nadv_sal = data[mask1 & mask2]['education'].count()
total_adv = data[mask1]['education'].count()
per_adv_sal = (nadv_sal/total_adv)*100
per_adv_sal

46.535843011613935

In [13]:
# percentage of people without advanced education make more than 50K
mask4 = mask1 == False
nlow_sal = data[mask4 & mask2]['education'].count()
total_low = data[mask4]['education'].count()
per_low_sal = (nlow_sal/total_low)*100
round(per_low_sal,1)

17.4

In [83]:
# minimum number of hours a person works per week
min_hpw = data['hours-per-week'].min()

In [84]:
# percentage of the people who work the minimum number of hours per week 
# have a salary of more than 50K
mask3 = data['hours-per-week'] == min_hpw
nmhpw_sal = data[mask3 & mask2]['hours-per-week'].count()
total_mhpw = data[mask3]['hours-per-week'].count()
per_mhpw_sal = (nmhpw_sal/total_mhpw)*100
per_mhpw_sal

10.0

In [114]:
# country has the highest percentage of people that earn >50K and what is that percentage
total_pop = data['native-country'].value_counts()
rich_pop = data[mask2]['native-country'].value_counts()
series = ((rich_pop/total_pop)*100).sort_values(ascending=False)
coun_hp_sal = series.index[0]
per_hp_sal = series.values[0]
print(coun_hp_sal)
print(per_hp_sal)

Iran
41.86046511627907

In [33]:
# most popular occupation for those who earn >50K in India
data_ind = data.groupby('native-country').get_group('India')
mask5 = data_ind['salary']=='>50K' 
pop_ocp_rich_ind = data_ind[mask5]['occupation'].value_counts().index[0]
pop_ocp_rich_ind

'Prof-specialty'

In [34]:
def calculate_demographic_data(print_data=True):
    # Read data from file
    df = pd.read_csv('adult.data.csv')

    # How many of each race are represented in this dataset? This should be a Pandas series with race names as the index labels.
    race_count = df['race'].value_counts()

    # What is the average age of men?
    average_age_men = round(df.groupby('sex').get_group('Male').mean().values[0],1)

    # What is the percentage of people who have a Bachelor's degree?
    mask = df['education'] == 'Bachelors'
    total = df['education'].count()
    nbach = df[mask]['education'].count()
    
    percentage_bachelors = round((nbach/total)*100,1)

    # What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?
    # What percentage of people without advanced education make more than 50K?

    # with and without `Bachelors`, `Masters`, or `Doctorate`
    mask_lst = ['Bachelors', 'Masters', 'Doctorate']
    #higher_ed
    mask1 = df['education'].isin(mask_lst)
    mask2 = df['salary'] == '>50K'
    
    nadv_sal = df[mask1 & mask2]['education'].count()
    higher_education = df[mask1]['education'].count()
    #lower_ed
    mask4 = mask1 == False
    
    nlow_sal = df[mask4 & mask2]['education'].count()
    lower_education = df[mask4]['education'].count()

    # percentage with salary >50K
    higher_education_rich = round((nadv_sal/higher_education)*100,1)
    lower_education_rich = round((nlow_sal/lower_education)*100,1)

    # What is the minimum number of hours a person works per week (hours-per-week feature)?
    min_work_hours = df['hours-per-week'].min()

    # What percentage of the people who work the minimum number of hours per week have a salary of >50K?
    mask3 = df['hours-per-week'] == min_work_hours
    nmhpw_sal = df[mask3 & mask2]['hours-per-week'].count()
    
    num_min_workers = df[mask3]['hours-per-week'].count()

    rich_percentage = round((nmhpw_sal/num_min_workers)*100,1)

    # What country has the highest percentage of people that earn >50K?
    total_pop = df['native-country'].value_counts()
    rich_pop = df[mask2]['native-country'].value_counts()
    series = ((rich_pop/total_pop)*100).sort_values(ascending=False)
    
    highest_earning_country = series.index[0]
    highest_earning_country_percentage = round(series.values[0],1)

    # Identify the most popular occupation for those who earn >50K in India.
    data_ind = df.groupby('native-country').get_group('India')
    mask5 = data_ind['salary']=='>50K' 
    
    top_IN_occupation = data_ind[mask5]['occupation'].value_counts().index[0]

    # DO NOT MODIFY BELOW THIS LINE

    if print_data:
        print("Number of each race:\n", race_count) 
        print("Average age of men:", average_age_men)
        print(f"Percentage with Bachelors degrees: {percentage_bachelors}%")
        print(f"Percentage with higher education that earn >50K: {higher_education_rich}%")
        print(f"Percentage without higher education that earn >50K: {lower_education_rich}%")
        print(f"Min work time: {min_work_hours} hours/week")
        print(f"Percentage of rich among those who work fewest hours: {rich_percentage}%")
        print("Country with highest percentage of rich:", highest_earning_country)
        print(f"Highest percentage of rich people in country: {highest_earning_country_percentage}%")
        print("Top occupations in India:", top_IN_occupation)

    return {
        'race_count': race_count,
        'average_age_men': average_age_men,
        'percentage_bachelors': percentage_bachelors,
        'higher_education_rich': higher_education_rich,
        'lower_education_rich': lower_education_rich,
        'min_work_hours': min_work_hours,
        'rich_percentage': rich_percentage,
        'highest_earning_country': highest_earning_country,
        'highest_earning_country_percentage':
        highest_earning_country_percentage,
        'top_IN_occupation': top_IN_occupation
    }

In [35]:
calculate_demographic_data()

Number of each race:
 White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64
Average age of men: 39.4
Percentage with Bachelors degrees: 16.4%
Percentage with higher education that earn >50K: 46.5%
Percentage without higher education that earn >50K: 17.4%
Min work time: 1 hours/week
Percentage of rich among those who work fewest hours: 10.0%
Country with highest percentage of rich: Iran
Highest percentage of rich people in country: 41.9%
Top occupations in India: Prof-specialty

{'race_count': White                 27816
 Black                  3124
 Asian-Pac-Islander     1039
 Amer-Indian-Eskimo      311
 Other                   271
 Name: race, dtype: int64,
 'average_age_men': 39.4,
 'percentage_bachelors': 16.4,
 'higher_education_rich': 46.5,
 'lower_education_rich': 17.4,
 'min_work_hours': 1,
 'rich_percentage': 10.0,
 'highest_earning_country': 'Iran',
 'highest_earning_country_percentage': 41.9,
 'top_IN_occupation': 'Prof-specialty'}